.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items:center;
  align-items: center;
}

.App input {
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 20px;
  outline: none;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}
